<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>缴费管理系统</title>
        <meta name="description" content="mis">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="/static/css/app.v1.css">
        <link rel="stylesheet" href="/static/chemira/css/room_manager.css">
        <link rel="stylesheet" href="/static/chemira/css/bootstrap-table.min.css">
        <link rel="stylesheet" href="/static/chemira/css/bootstrap-datetimepicker.min.css">
        <!--[if lt IE 9]>
        <script src="js/ie/respond.min.js" cache="false"></script>
        <script src="js/ie/html5.js" cache="false"></script>
        <script src="js/ie/fix.js" cache="false"></script> <![endif]-->
        <script src="/static/chemira/css/app.v1.js"></script>
        <script src="/static/chemira/js/bootstrap3-validation.js"></script>
        <script src="/static/chemira/js/tableExport.js"></script>
        <script src="/static/chemira/js/jquery.base64.js"></script>
        <script src="/static/chemira/js/bootstrap-table.js"></script>
        <script src="/static/chemira/js/bootstrap-table-export.js"></script>
        <script src="/static/chemira/js/bootstrap-table-zh-CN.js"></script>
        <script>
        $.extend($.fn.bootstrapTable.defaults, $.fn.bootstrapTable.locales['zh-CN']);
        </script>
        <script src="/static/chemira/js/jquery.toggle-password.js"></script>
        <script src="/static/chemira/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/static/chemira/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
        <script src="/static/chemira/js/jquery.cookie.js"></script>
    </head>
<body>
<section class="hbox stretch"> <!-- .aside -->
    <aside class="bg-dark aside-sm" id="nav">
        <section class="vbox">
            <header class="dker nav-bar"><a class="btn btn-link visible-xs"
                                            data-toggle="class:nav-off-screen" data-target="body">
                <i class="icon-reorder"></i> </a> 
                <a href="#" class="nav-brand" data-toggle="fullscreen">均岩科技</a> 
                
                <a class="btn btn-link visible-xs" data-toggle="class:show"
                    data-target=".nav-user"> <i class="icon-comment-alt"></i> </a></header>
            <footer class="footer bg-gradient hidden-xs"><a href="modal.lockme.html"
                                                            data-toggle="ajaxModal"
                                                            class="btn btn-sm btn-link m-r-n-xs pull-right">
                <i class="icon-off"></i> </a> <a href="#nav" data-toggle="class:nav-vertical"
                                                 class="btn btn-sm btn-link m-l-n-sm"> <i
                    class="icon-reorder"></i> </a></footer>
            <section>
              
                <nav class="nav-primary hidden-xs">
                        <ul class="nav">
                                <li class="active">
                                        <a href="/upload">
                                            <i class="icon-tasks"></i>
                                            <span>语音翻译</span>
                                        </a>
                                    </li>
                        </ul>
        
                </nav>
            </section>
            <!--<img src="/static/images/logo.jpg" class="img-rounded">-->
        </section>
    </aside>
    <!-- /.aside --> <!-- .vbox -->
    <section id="content">
        <section class="vbox">
            <header class="header bg-dark bg-gradient">
                <ul class="nav nav-tabs">
                        <li class="active"><a href="#basic" data-toggle="tab">音频翻译</a></li>
                </ul>
            </header>
            <section class="scrollable wrapper">
                <div class="tab-content">
                    <section class="tab-pane active" id="basic">
                        <form class="form-horizontal" action="/audio_upload" method="post" enctype="multipart/form-data"  >
                            <div class="form-group m-t-lg"><label class="col-sm-3 control-label">音频文件</label>
                                <div class="col-sm-4 media m-t-none">
                                    <div class="bg-light pull-left text-center media-lg thumb-lg padder-v">
                                        <i class="icon-user inline icon-light icon-3x m-t-lg m-b-lg"></i>
                                    </div>
                                    
                                        <div class="media-body"><input type="file" name="audio_file" 
                                                                    title="选择音频文件"
                                                                    class="btn btn-sm btn-info m-b-sm"><br>
                                            <input type="submit" title="翻译音频"  class="btn btn-sm btn-default">
                                        </div>
                                    

                                </div>
                            </div>
                            <div class="form-group"><label
                                class="col-sm-3 control-label"></label>
                                <div class="col-sm-5"><textarea placeholder="Profile" rows="5"
                                                                    data-trigger="keyup"
                                                                    data-rangelength="[20,200]"
                                                                    class="form-control">{{request_data}}</textarea>
                                </div>
                            </div>
                            
                           
                        </form>
                    </section>
                    
    <!-- /.vbox --> </section>
<!-- Bootstrap --> <!-- app --> <!-- fuelux --> <!-- datepicker --> <!-- slider -->
<!-- file input --> <!-- combodate --> <!-- parsley --> <!-- select2 --> </body>
</html>